/* layout */
html, body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: whitesmoke;
    /* background-color: #CCE8CF; */
}

#main{
    width: 500px;
    margin: auto;
}

h1{
    font-size: 26px;
    margin: 1em;
}


/* form */
#form{
    width: 100%;
}

#form .cell{
    width: 100%;
}

#form .fieldName{
    display: inline-block;
    width: 25%;
}

#form .field{
    width: 70%;
    height: 2em;
}

#form .error{
    width: 70%;
    margin-left: 28%;
    font-size: 12px;
    height: 1em;
    color: #E56260;
    margin-bottom: 1.5em;
    text-align: left;
}

#form .button{
    width: 24%;
    height: 2em;
    margin: 2px;
}

#reset{
    background-color: coral;
    border: none;
}

#submit{
    background-color: #2E7BEB;
    border: none;
}

#autoFill{
    border: 1px solid black;
}

/* table */
#table{
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    border: 1px solid black;
    border-collapse: collapse;
}

#table td{
    border: 1px solid black;
}

.button {
    cursor: pointer;
}