<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatting Room</title>
    <meta name="author" content="xiekch 11/25/2018">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/validator.js"></script>
    <script src="/js/signup.js"></script>
</head>

<div id="main">
    <h1>Sign Up</h1>
    <form id="form" action={{host}} method="post">
        <div class="cell">
            <span class="fieldName">User name</span>
            <input class="field" type="text" id="username" name="username" value={{user.username}}>
            <div class="error">{{error.username}}</div>
        </div>

        <div class="cell">
            <span class="fieldName">Id</span>
            <input class="field" type="text" id="id" name="id" value={{user.id}}>
            <div class="error">{{error.id}}</div>
        </div>

        <div class="cell">
            <span class="fieldName">Phone</span>
            <input class="field" type="text" id="phone" name="phone" value={{user.phone}}>
            <div class="error">{{error.phone}}</div>
        </div>

        <div class="cell">
            <span class="fieldName">Email</span>
            <input class="field" type="text" id="email" name="email" value={{user.email}}>
            <div class="error">{{error.email}}</div>
        </div>

        <div>
            <select id="autoFill" class="button">
                <option value="no">notFill</option>
                <option value="test1">xiaoming</option>
                <option value="test2">xiaohong</option>
                <option value="test3">nameWrong</option>
                <option value="test4">idWrong</option>
                <option value="test5">phoneWrong</option>
                <option value="test6">EmailWrong</option>

            </select>
            <!--{{!&#45;&#45; <input id="autoFill" class="button" type="button" value="auto fill" /> &#45;&#45;}}-->
            <input id="reset" class="button" type="button" value="reset" />
            <input id="submit" class="button" type="submit" value="submit" />
        </div>

    </form>
</div>

</body>

</html>